header {
  display: flex;
  align-items: center;
  gap: 2em;
}

.header-expense {
  display: flex;
  gap: 1em;
}

.email::before, .total::before, .currency::before {
  font-weight: 700;
}

.email::before {
  content: 'Email: ';
}

.total::before {
  content: 'Total: ';
}

.currency::before {
  content: 'Moeda: ';
}